* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square-painted {
  background: #000;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #b9d6e0;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.toggle-switch-container {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 12px;
  cursor: pointer;
}

.toggle-switch-container {
  position: relative; /* Necessary for absolute positioning of toggle-switch */
}

.toggle-switch {
  position: absolute;
  top: 50%;
  left: 2px; /* Adjust as needed */
  transform: translate(0%, -50%); /* Center vertically and horizontally */
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.3s ease;
  cursor: pointer; /* Add cursor for hover effect */
  display: flex; /* Center content horizontally */
  justify-content: center;
  align-items: center;
}

.toggle-switch.checked {
  left: calc(100% - 22px);
}

.toggle-switch-cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px; /* Adjust font size as needed */
  color: #000; /* Adjust color as needed */
  font-weight: bold; /* Make the X bold */
}

.toggle-switch-square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: #000; /* Adjust color as needed */
}
